HELP.md
target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/

/nbdist/
/.nb-gradle/
build/


### VS Code ###
.vscode/

mysql_data/
keyfile.txt

/node_modules/

/dist/